---
layout: archive
title: "Publications"
permalink: /publications/
author_profile: true
---

{% if site.author.googlescholar %}
  <div class="wordwrap">You can also find my articles on <a href="{{site.author.googlescholar}}">my Google Scholar profile</a>.</div>
{% endif %}

{% include base_path %}

<!-- New style rendering if publication categories are defined -->
<!-- {% assign n = site.publications.size %} -->
{% for category in site.publication_category %}
  {% assign title_shown = false %}
  {% for post in site.publications reversed %}
    {% if post.category != category[0] %}
      {% continue %}
    {% endif %}
    {% unless title_shown %}
      <h2>{{ category[1].title }}</h2><hr />
      <!-- <ol reversed start="{{ n }}"> -->
      <ul>
      {% assign title_shown = true %}
    {% endunless %}
    <li>
    {% if post.category == 'thesis' %}"<i>{{ post.title }}</i>", {{ post.date | date: "%Y" }}.<br>
    <strong>Jury</strong>: {{ post.jury }}<br>
    {% else %}{{ post.authors }}, "<i>{{ post.title }}</i>". {{ post.venue }}, {{ post.date | date: "%Y" }}.
    {% endif %}
    {% assign links = "" | split: "" %}
    {% if post.doi %}{% capture l %}<a href="https://doi.org/{{ post.doi }}">DOI</a>{% endcapture %}{% assign links = links | push: l %}{% endif %}
    {% if post.arxiv %}{% capture l %}<a href="{{ post.arxiv }}">arXiv</a>{% endcapture %}{% assign links = links | push: l %}{% endif %}
    <!-- {% if post.paperurl %}{% capture l %}<a href="{{ post.paperurl }}">link</a>{% endcapture %}{% assign links = links | push: l %}{% endif %} -->
    {% if post.hal %}{% capture l %}<a href="https://hal.science/{{ post.hal }}">HAL</a>{% endcapture %}{% assign links = links | push: l %}{% endif %} 
    {% if post.pdf %}{% capture l %}<a href="{{ post.pdf }}">PDF</a>{% endcapture %}{% assign links = links | push: l %}{% endif %}
    {% if post.bibtexurl %}{% capture l %}<a href="{{ post.bibtexurl }}">bib</a>{% endcapture %}{% assign links = links | push: l %}{% endif %}
    {{ links | join: " | " }}</li>
    <!-- {% assign n = n | minus: 1 %} -->
  {% endfor %}
  {% if title_shown %}</ul>{% endif %}
{% endfor %}



